@tailwind base;
@tailwind components;
@tailwind utilities;

/*________________________________*\
  #RESET STYLE
\*________________________________*/
a,
span,
input,
img {
  @apply block
}
html {
  @apply scroll-smooth;
}

/*________________________________*\
  #REUSED STYLE
\*________________________________*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
ionicon {
  --ionicon-stroke-width: 50px;
}